:root {
  --tacdis-height: 61px;
  --collapsed-width: 48px;
}

@font-face {
  font-family: "Volvo Novum Regular";
  src: url("../fonts/volvo-novum-regular.ttf") format('truetype');
}

@font-face {
  font-family: "Volvo Novum Bold";
  src: url("../fonts/volvo-novum-bold.ttf") format('truetype');
}

@font-face {
  font-family: "Volvo Novum Italic";
  src: url("../fonts/volvo-novum-italic.ttf") format('truetype');
}

html {
  font-family: "Volvo Novum Regular", Helvetica, Arial, sans-serif;
  color: var(--primary-text);
}

body {
  text-rendering: optimizeSpeed;
}

a {
  text-decoraton: none;
  color: var(--primary-text);
}

.content {
  grid-template-rows: 61px 1fr;
  grid-template-columns: auto 1fr auto;
  height: 100vh;
}

.content.collapsed {
  grid-template-columns: var(--collapsed-width) 1fr auto;
}

.tacdis-header {
  grid-column: 2 / 4;
  background-color: var(--tactis-header);;
  height: var(--tacdis-height);
  padding: 1rem;
  color: white;
}

.navigation {
  grid-row: 1 / 3;
  background-color: var(--background);
}

.nav-divider {
  border-top: 1px solid var(--inactive-state);
}

.navigation.collapsed {
  width: var(--collapsed-width);
}

.navigation-header {
  height: var(--tacdis-height);
  background-color: var(--tactis-header);;
  justify-content: center;
  padding-left: 1rem;
}

.tacdis-logo {

}

.navigation-middle {
  overflow-y: scroll;
}

.navigation-footer {
  flex-grow: 0;
}

.navigation-footer .nav-icon:last-of-type{
  margin-right: 0;
}

.nav-item {
  padding: 1rem;
  cursor: pointer;
  text-select: none;
  -webkit-user-select: none;
  color: var(--inactive-state-dark);
  position: relative;
}

.footer-items {
  display: flex;
  padding: 1rem;
  cursor: pointer;
  text-select: none;
  -webkit-user-select: none;
  color: var(--inactive-state-dark);
  position: relative;
}

.navigation.collapsed .footer-items {
  flex-direction: column;
}

.navigation.collapsed .footer-items .nav-icon {
  margin: 0px;
}

.navigation.collapsed .footer-items .nav-icon:first-of-type {
  padding: 0 0 1rem 0;
}

.navigation.collapsed .footer-items .nav-icon:last-of-type {
  transform: rotate(180deg);
  padding: 0 0 2rem 0;
}

.nav-item.selected {
  color: var(--primary-action-dark);
}

.nav-item.selected::before {
  content: "";
  width: 5px;
  height: 75%;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: var(--primary-action-dark);
  transform: translateY(-50%);
}

.navigation.collapsed .nav-text {
  display: none;
}

.nav-icon {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.navigation.collapsed .nav-icon {
  width: 16px;
  height: 16px;
}

.calendar-main {
  background-color: teal;
  padding: 1rem;
}

.appointment-edit {
  background-color: var(--capacity-mango);
  padding: 1rem;
  width: 400px;
}

.numbers {
  font-family: Helvetica, Arial, sans-serif;
}

.left-panel {
  background-color: var(--inactive-state);
  gap: 1rem;
  padding-top: 1rem;
}

.left-panel .section {
  width: 276px;
  background-color: var(--capacity-mango);
  margin: 0 1rem;
  border-radius: 11px;
  padding: .7rem; .5rem;
}

.left-panel .section.header {
  border-radius: 0;
  background-color: inherit; 
  font-family: var(--volvo-novum-regular);
  font-size: 1rem;
  padding: 0;
}

.pin {
  transform: rotate(90deg);
}

.pin.pinned {
  transform: rotate(25deg);
}

.left-panel .header .pin {
  margin-right: .5rem;
}

.left-panel .header .plus-minus {
  color: var(--primary-action);
}

.left-panel .section.search {
  background-color: white;
  border-radius: 100px;
  padding: .3rem .7rem; 
}

.left-panel .section.search .search-field {
  background-color: white;
}

.search-field .search-icon {
  margin-left: .2rem;
  margin-right: .5rem;
}

.left-panel .section.active {
  background-color: var(--background);
}

.section.active .pill {
  margin-bottom: .7rem;
}

.active-resources {
  gap: 5px;
}

.short-name {
  font-family: var(--volvo-novum-medium);
  font-size: 10px;
  color: #FFFFFF;
  width: 26px;
  padding: 4px 0; 
  margin-right: 6px;
  flex: 0 0 26px;
}

.full-name {
  margin-right: 6px;
}

.icon-border-round {
  display: flex;
  flex-direction: column;
  place-items: center;
  width: 19px;
  height: 19px;
  border-radius: 100%;
  border: thin solid var(--border-gray);
  margin-right: 3px;
  flex: 0 0 19px;
}

.icon-border-round:last-child {
  margin-right: 0;
}

.inner-icon {
  flex: 0 1 12px;
  width: 12px;
  height: 12px;
  color: var(--border-gray);
}
