:root {
  --tacdis-height: 61px;
  --collapsed-width: 48px;
}

@font-face {
  font-family: "Volvo Novum Regular";
  src: url("../fonts/volvo-novum-regular.ttf") format('truetype');
}

@font-face {
  font-family: "Volvo Novum Bold";
  src: url("../fonts/volvo-novum-bold.ttf") format('truetype');
}

@font-face {
  font-family: "Volvo Novum Italic";
  src: url("../fonts/volvo-novum-italic.ttf") format('truetype');
}

html {
  font-family: "Volvo Novum Regular", Helvetica, Arial, sans-serif;
  color: var(--primary-text);
}

body {
  text-rendering: optimizeSpeed;
}

a {
  text-decoraton: none;
  color: var(--primary-text);
}

.content {
  grid-template-rows: 61px 1fr;
  grid-template-columns: auto 1fr auto;
  height: 100vh;
}

.content.collapsed {
  grid-template-columns: var(--collapsed-width) 1fr auto;
}

.header {
  grid-column: 2 / 4;
  background-color: var(--tactis-header);;
  height: var(--tacdis-height);
  padding: 1rem;
  color: white;
  align-items: center;
}

.navigation {
  grid-row: 1 / 3;
  background-color: var(--background);
}

.nav-divider {
  border-top: 1px solid var(--inactive-state);
}

.navigation.collapsed {
  width: var(--collapsed-width);
}

.navigation-header {
  height: var(--tacdis-height);
  background-color: var(--tactis-header);;
  justify-content: center;
  padding-left: 1rem;
}

.tacdis-logo {

}

.navigation-middle {
  overflow-y: scroll;
}

.navigation-footer {
  flex-grow: 0;
}

.navigation-footer .nav-icon:last-of-type{
  margin-right: 0;
}

.nav-item {
  padding: 1rem;
  align-items: center;
  cursor: pointer;
  text-select: none;
  -webkit-user-select: none;
  color: var(--inactive-state-dark);
  position: relative;
}

.footer-items {
  display: flex;
  padding: 1rem;
  align-items: center;
  cursor: pointer;
  text-select: none;
  -webkit-user-select: none;
  color: var(--inactive-state-dark);
  position: relative;
}

.navigation.collapsed .footer-items {
  flex-direction: column;
}

.navigation.collapsed .footer-items .nav-icon {
  margin: 0px;
}

.navigation.collapsed .footer-items .nav-icon:first-of-type {
  padding: 0 0 1rem 0;
}

.navigation.collapsed .footer-items .nav-icon:last-of-type {
  transform: rotate(180deg);
  padding: 0 0 2rem 0;
}

.nav-item.selected {
  color: var(--primary-action-dark);
}

.nav-item.selected::before {
  content: "";
  width: 5px;
  height: 75%;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: var(--primary-action-dark);
  transform: translateY(-50%);
}

.navigation.collapsed .nav-text {
  display: none;
}

.nav-icon {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.navigation.collapsed .nav-icon {
  width: 16px;
  height: 16px;
}

.calendar-main {
  background-color: teal;
  padding: 1rem;
}

.appointment-edit {
  background-color: var(--capacity-mango);
  padding: 1rem;
  width: 400px;
}

.numbers {
  font-family: Helvetica, Arial, sans-serif;
}

button {
  display: inline-block;
  border-radius: 4px;
  font-size: 1rem;
  padding: .375rem .75rem;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  line-height: 1.3;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
                    0 1px 1px rgba(0, 0, 0, 0.075);
  transition: color .15s ease-in-out,
              background-color .15s ease-in-out,
              border-color .15s ease-in-out,
              box-shadow .15s ease-in-out;
}

button:not(:disabled) {
  cursor: pointer;
}

button:active {
  opacity: .4;
}

button.primary {
  background-color: var(--primary-action);
  color: white;
}

button.primary:hover {
  background-color: var(--primary-action-dark);
}

button.approve {
  background-color: var(--approve-action);
  color: white;
}

button.approve:hover {
  background-color: var(--approve-action-dark);
}

button.delete {
  background-color: var(--delete-action);
  color: white;
}

button.delete:hover {
  background-color: var(--delete-action-dark);
}

button.secondary {
  background-color: white;
}

button.secondary:hover {
  background-color: var(--inactive-state);
}


